*{
  box-sizing:border-box
}

body{
  font-family: "Arial", "Helvetica", "sans-serif";
  background:#f3f4f6;
  color:#111827;
  padding:24px;
  -webkit-font-smoothing:antialiased;
}

/* Списки */
ol{
  margin-left:18px
}