#contextMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10000;
  min-width: 160px;
  padding: 5px 0;
}

#contextMenu button {
  display: block;
  width: 100%;
  border: none;
  background: none;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

#contextMenu button:hover {
  background-color: #efefef;
}

/* Решённая задача */
.task-btn.solved {
  background-color: #4CAF50;
  color: white;
  border: 1px solid rgb(27, 50, 2);
}