#modal {
  display:none; 
  position:fixed; 
  top:0; 
  left:0; 
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
  z-index:1000;
}

#modalContent {
  position:relative; 
  background:white;
  padding:10px;
  border-radius:8px;
  max-width:80%;
  max-height:80%;
  text-align:center;
}

#closeBtn {
  position:absolute; 
  top:5px; right:10px; 
  font-size:20px; 
  font-weight:bold; 
  cursor:pointer;
}

#modalImg {
  max-width:100%;
  max-height:100%;
}